gridke{
    background-color: blue;
}
[part~="cell"] ::slotted(vaadin-grid-cell-content) {
    background-color: blue !important;
}
[part~="cell"]:not([part~="details-cell"]){
    background-color: blue !important;
}
first-name{
    background-color: blue;
    color: rebeccapurple;
}
[part~="cell"] {
    background-color: red;
}