.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
/*CONTACTS VIEW*/
.contacts-view{
    padding: 70px;
    background-color: rgb(26, 26, 26);
    margin-top: 100px;
    margin-left: 750px;
}
.username-logout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.username{
    font-size: 36px;
    font-weight: bold;
}
.space-between{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.search{
    width: 250px;
}
.icon-add{
    color: rgb(0, 204, 102);
    cursor: pointer;
}
.contacts-grid{
    height: 400px;
    width: 300px;
    margin-top: 30px;
}
/*CONTACTS VIEW*/

/*CONTACT DETAILS AND NEW CONTACT VIEW*/
.contactdetails-newcontact-view{
    padding: 30px;
    background-color: rgb(26, 26, 26);
    margin-top: 100px;
    margin-left: 750px;
}
.user-icon{
    margin-left: 150px;
    margin-bottom: 30px;
}
.divs{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.labels{
    width: 80px;
    margin-top: 30px;
    margin-right: 20px;
}
.textfield-textarea-width{
    width: 250px;
}
.telefon-adres-sosyalmedya-header{
    font-size: 30px;
    font-weight: bold;
}
.horizontal{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.update-save-button{
    margin-left: 185px;
}
/*CONTACT DETAILS AND NEW CONTACT VIEW*/


/* LOGIN AND SIGN IN VIEW */
.signin-login-view{
    padding: 40px;
    background-color: rgb(26, 26, 26);
    margin-top: 50px;
    margin-left: 750px;
}
.adres-defteri-header{
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    margin-top: 100px;
    margin-left: 710px;
}
.user-info-textfields{
    width: 250px;
}
.login-signin{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
}
.anchor{
    margin-top: 30px;
    margin-left: 120px;
}
/* LOGIN AND SIGN IN VIEW */

/**/
.div-phone-address-socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userImg{
    height: 250px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.img-upload{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.margin-left{
    margin-top: 30px;
    margin-left: 100px;
}
.textfields{
    width: 250px;
    margin-top: 30px;
}
/**/
